<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h2>Reset your Password</h2>
    <a
      href="{{link}}"
      target="_blank"
      style="
        padding: 12px 24px;
        border-radius: 4px;
        color: #fff;
        background: #2b52f5;
        display: inline-block;
        margin: 0.5rem 0;
      "
      >Reset Password</a
    >
    <h5>
      If you didn’t ask to verify this address, you can ignore this email.
    </h5>
    <h5>Thanks, E-commerce team</h5>
  </body>
</html>
